<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="incorporation.app.primera.mi.proyectofinal">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <!-- _____________________________________________________________________________________ -->
        <activity
            android:name=".Principio.Splash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- _____________________________________________________________________________________ -->
        <activity android:name=".Principio.Login"
            android:label="@string/title_login"/>
        <!-- _____________________________________________________________________________________ -->
        <activity android:name=".Principio.Registrarse"
            android:label="@string/title_registrarse"/>
        <!-- _____________________________________________________________________________________ -->
        <activity
            android:name=".Main"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- _____________________________________________________________________________________ -->
        <!-- android:theme="@style/AppTheme.NoActionBar"></activity>  definiendo previamente el estilo podemos quitar la barra de arriba -->
        <activity
            android:name=".BaseDrawer.BaseDrawer"
            android:label="@string/title_activity_base_drawer"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- _____________________________________________________________________________________ -->
        <activity
            android:name=".Cartelera.Cartelera"
            android:label="@string/title_cartelera"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- _____________________________________________________________________________________ -->
        <activity
            android:name=".Cines.Cines"
            android:label="@string/title_cines"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- _____________________________________________________________________________________ -->
        <activity
            android:name=".Confiteria.Confiteria"
            android:label="@string/title_confiteria"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <!-- _____________________________________________________________________________________ -->
        <activity
            android:name=".Perfil.Perfil"
            android:label="@string/title_perfil"
            android:theme="@style/AppTheme.NoActionBar" />
        <!-- _____________________________________________________________________________________ -->
    </application>

</manifest>